.conteiner {
  display: block;
  margin: 100px auto;
  width: 60%;
  padding: 50px;
  border: 1px solid black;
  border-radius: 15px;
}
h1,
h2,
h6 {
  text-align: center;
}

h1 {
  padding-top: 50px;
}

h6 {
  color: grey;
}

.Emojii {
  font-size: 50px;
}

.cel_far {
  color: black;
  text-decoration: none;
}

.current {
  margin-left: 10px;
}

#github {
  display: block;
  margin: 0 auto;
  text-align: center;
}
